.App {
  text-align: center;
}

.centered-wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  padding: 6px;
  margin-bottom: 20px;
}

.even-spacing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.right-justify {
  text-align: right;
}
