.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.centered-wrapper {
  display: block;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.content-wrapper {
  padding: 6px;
  margin-bottom: 6px;
  max-width: 100%;
}

.even-spacing {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 6px;
}

.right-justify {
  text-align: right;
}

.react-photo-album img {
  max-width: 300px;
  height: auto; /* Maintain aspect ratio */
}

.sticky-container {
  position: sticky;
  top: 0; /* "sticks" to the top of the viewport */
  z-index: 1000; /* Optional: ensures it stays on top of other content */
}